@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Bem Vindo(a)!</h1>
    <p>Seja bem vindo ao seu aplicativo <b>favorito</b> de gerenciamento de tarefas!</p>
    <div>
        <a href="/task/index" class="btn btn-primary">Criar lista de tarefas</a>
        <a href="/task/TaskInProgress" class="btn btn-primary">Verificar Tarefas em Andamento</a>
        <a href="/task/TaskConcluded" class="btn btn-primary">Verificar Tarefas Concluídas</a>
    </div>
</div>
